* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.red-btn:hover{
  border: 2px solid rgba(242, 76, 39, 1);
  background: white;
  color: rgba(242, 76, 39, 1);
  transition: 1s;
  cursor: pointer;
}

.blue-btn:hover {
  border: 2px solid white;
  background: rgba(35, 46, 209, 1);
  color: white;
  transition: 1s;
  cursor: pointer;
}

.font-size15 {
  font-weight: 400;
  font-size: 15px;
}

.p-roof {
  color: rgba(91, 91, 91, 1);
  font-size: 15px;
  font-weight: 400;
}

.header-roof-right {
  padding: 10px 0 0;
  line-height: 45px;
  color: rgba(13, 19, 23, 1);
  font-weight: 600;
  font-size: 40px;
}

.header-roof-left {
  padding: 10px 0 0;
  line-height: 45px;
  color: rgba(13, 19, 23, 1);
  font-weight: 600;
  font-size: 40px;
}

/*Header*/
header {
  width: 100%;
  min-height: 100vh;
}

.nav-page {
  padding: 2% 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 100px;
}

.nav-list {
  flex: 1;
  align-items: right;
  margin-left: 100px;
}

.nav-list ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-list ul li a {
  color: rgba(91, 91, 91, 1);
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}

.nav-list ul li .color-a {
  color: rgba(35, 46, 209, 1);
}

.clone-button {
  text-decoration: none;
  color: rgba(13, 19, 23, 1);
  border: 2px solid rgba(35, 46, 209, 0.4);
  padding: 12px 34px;
  font-weight: 600;
  font-size: 15px;
  background: transparent;
  position: relative;
}

.clone-button:hover {
  border: 2px solid white;
  background: rgba(35, 46, 209, 1);
  color: white;
  transition: 1s;
  cursor: pointer;
}

nav .bi {
  display: none;
}
/*Footer*/
footer {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: rgba(239, 240, 248, 1);
}

.banner {
  justify-content: space-between;
  width: 70%;
  margin-left: 12%;
  padding: 3% 5% 3% 5%;
  position: absolute;
  margin-top: -6%;
  border-radius: 0 7px 0 7px;
  background: rgba(35, 46, 209, 1);
  display: flex;
  align-items: center;
}

.banner h1 {
  font-weight: 600;
  font-size: 36px;
  color: rgba(255, 255, 255, 1);
}

.banner button {
  padding: 1% 3%;
  border: 1px solid rgba(242, 76, 39, 1);
  border-radius: 5px;
  background: rgba(242, 76, 39, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 20px;
}

.footer-content {
  padding: 15% 12% 5%;
}

.top-main {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10%;
}

.footer-left {
  display: flex;
}

.footer-left a {
  margin: 20px 0;
  text-decoration: none;
  display: block;
  color: rgba(91, 91, 91, 1);
  font-size: 15px;
  font-weight: 400;
}

.footer-left h6 {
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 30px;
}
.top-sub {
  display: flex;
}

.list1 {
  margin-right: 100px;
}

.list2 {
  margin-right: 50px;
  margin-left: 50px;
}
.list3 {
  margin-left: 100px;
}

.footer-right img {
  margin-bottom: 30px;
}

.footer-right a {
  margin: 0 5px;
  text-decoration: none;
}

.footer-bottom h5 {
  padding: 15px 0;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  margin-top: 50px;
  background: rgba(35, 46, 209, 1);
}

.top-sub {
  display: flex;
  justify-content: space-between;
}

.top-sub h2 {
  color: rgba(91, 91, 91, 1);
  font-weight: 400;
  font-size: 20px;
}

.sub {
  border-radius: 5px;
  background-color: white;
  padding: 10px 0 10px 20px;
}

.sub button {
  padding: 10px 20px;
  margin-right: 20px;
  margin-left: 50px;
  border: 5px;
  border-radius: 1px solid rgba(242, 76, 39, 1);
  background: rgba(242, 76, 39, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 15px;
}

.sub input {
  border-style: none;
}

.sub input:focus {
  outline: none;
}
.privacy-content{
    padding: 5% 30% 20% 30%;
}
.privacy-content h1{
    font-weight: 600;
    font-size: 60px;
}
.privacy-content h2{
    font-weight: 600;
    font-size: 38px;
}
.privacy-content h4{
    font-weight: 600;
    font-size: 20px;
}

.privacy-content p{
    font-weight: 400;
    font-size: 15px;
    margin: 3% 0;
}
/*Responsive mobile*/
/*Header*/
@media (max-width: 700px) {
  .nav-list ul li {
    display: block;
  }
  .nav-list {
    position: absolute;
    background: rgba(35, 46, 209, 1);
    height: 100vh;
    width: 222px;
    top: 0;
    right: -222px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  .nav-list ul li a,
  .color-a {
    color: white !important;
  }
  nav .bi-list {
    display: block;
    color: black;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  nav .bi-x-lg {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-list ul {
    padding: 20px;
  }
  .clone-button {
    display: none;
  }
  header section {
    display: block;
    top: 20%;
  }
  /*Footer*/
  .banner h1 {
    font-size: 12px;
  }
  .banner button {
    font-size: 12px;
  }

  .footer-left a {
    margin: 0 0;
    font-size: 12px;
  }

  .list1,
  .list2,
  .list3 {
    margin: 0;
  }
  .footer-left h6 {
    font-size: 12px;
  }
  .footer-right img {
    margin-bottom: 20px;
  }
  .logo-ft {
    width: 70px;
  }
  .social .social-img {
    width: 5px;
  }
  .social .social-img {
    margin-right: -16px;
    width: 14px;
  }
  .top-sub h2 {
    font-size: 12px;
    margin-right: 20px;
  }
  .sub button {
    padding: 4px 1px;
    margin-right: 20px;
    margin-left: 0px;
    border: 5px;
    border-radius: 1px solid rgba(242, 76, 39, 1);
    background: rgba(242, 76, 39, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 9px;
  }
  .footer-right {
    margin-right: 10px;
  }
  .footer-bottom h5 {
    font-size: 12px;
  }
  footer {
    min-height: 69vh;
  }
  .privacy-content {
    padding: 5% 10% 20% 10%;
}
}
